<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mabatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.excel.mapper.PfMapper">
    <!--添加-->
    <insert id="insertPf" parameterType="PF">
        insert into `position`(deptCode,deptName) values (#{deptCode},#{deptName})
    </insert>

    <!--excel表格添加-->
    <insert id="insertExcelPf" parameterType="PF">
        insert into `position`
        (deptCode,deptName,employer,organNature,positionRecruitment,positionAttribute,positionDistribution,positionSynopsis,positionCode,
        organLevel,examType,recruitmentNumber,major,education,degree,politicalOutlook,grassrootsWorkYears,grassrootsWorkUndergo,
        ifInterviewStage,interviewPersonnelRatio,workplace,location,remarks,deptWebsite,consultTel1,consultTel2,consultTel3)
        values
        (#{deptCode},#{deptName},#{employer},#{organNature},#{positionRecruitment},#{positionAttribute},#{positionDistribution},
        #{positionSynopsis},#{positionCode},#{organLevel},#{examType},#{recruitmentNumber},#{major},#{education},#{degree},
        #{politicalOutlook},#{grassrootsWorkYears},#{grassrootsWorkUndergo},#{ifInterviewStage},#{interviewPersonnelRatio},#{workplace},
        #{location},#{remarks},#{deptWebsite},#{consultTel1},#{consultTel2},#{consultTel3})
    </insert>

    <select id="getExcelPf" parameterType="java.util.HashMap" resultType="PF">
        select * from `position`
        where 1=1
        <if test="majors != null and majors.size() > 0">
            and
            <foreach collection="majors" item="major" open="(" separator="or" close=")">
                major like concat('%',#{major},'%')
            </foreach>
        </if>
        <if test="educations != null and educations.size() > 0">
            and
            <foreach collection="educations" item="education" open="(" separator="or" close=")">
                education like concat('%',#{education},'%')
            </foreach>
        </if>
        <if test="grassrootsWorkYearss != null and grassrootsWorkYearss.size() > 0">
            and
            <foreach collection="grassrootsWorkYearss" item="grassrootsWorkYears" open="(" separator="or" close=")">
                grassrootsWorkYears like concat('%',#{grassrootsWorkYears},'%')
            </foreach>
        </if>
        <if test="grassrootsWorkUndergos != null and grassrootsWorkUndergos.size() > 0">
            and
            <foreach collection="grassrootsWorkUndergos" item="grassrootsWorkUndergo" open="(" separator="or" close=")">
                grassrootsWorkUndergo like concat('%',#{grassrootsWorkUndergo},'%')
            </foreach>
        </if>
        <if test="workplace != null and workplace !=''">
            and workplace like concat('%',#{workplace},'%')
        </if>
        <if test="remarks != null and remarks !=''">
            and remarks like concat('%',#{remarks},'%')
        </if>
        limit #{numberIndex},#{nowPageSize}
    </select>

    <select id="getExcelPfAll" parameterType="java.util.HashMap" resultType="PF">
        select * from `position`
        where 1=1
        <if test="majors != null and majors.size() > 0">
            and
            <foreach collection="majors" item="major" open="(" separator="or" close=")">
                major like concat('%',#{major},'%')
            </foreach>
        </if>
        <if test="educations != null and educations.size() > 0">
            and
            <foreach collection="educations" item="education" open="(" separator="or" close=")">
                education like concat('%',#{education},'%')
            </foreach>
        </if>
        <if test="grassrootsWorkYearss != null and grassrootsWorkYearss.size() > 0">
            and
            <foreach collection="grassrootsWorkYearss" item="grassrootsWorkYears" open="(" separator="or" close=")">
                grassrootsWorkYears like concat('%',#{grassrootsWorkYears},'%')
            </foreach>
        </if>
        <if test="grassrootsWorkUndergos != null and grassrootsWorkUndergos.size() > 0">
            and
            <foreach collection="grassrootsWorkUndergos" item="grassrootsWorkUndergo" open="(" separator="or" close=")">
                grassrootsWorkUndergo like concat('%',#{grassrootsWorkUndergo},'%')
            </foreach>
        </if>
        <if test="workplace != null and workplace !=''">
            and workplace like concat('%',#{workplace},'%')
        </if>
        <if test="remarks != null and remarks !=''">
            and remarks like concat('%',#{remarks},'%')
        </if>
    </select>

    <delete id="deleteAllExcelPf">
        DELETE FROM `position` WHERE 1=1
    </delete>

    <select id="getExcelPfNumber" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select count(*) from `position`
        where 1=1
        <if test="majors != null and majors.size() > 0">
            and
            <foreach collection="majors" item="major" open="(" separator="or" close=")">
                major like concat('%',#{major},'%')
            </foreach>
        </if>
        <if test="educations != null and educations.size() > 0">
            and
            <foreach collection="educations" item="education" open="(" separator="or" close=")">
                education like concat('%',#{education},'%')
            </foreach>
        </if>
        <if test="grassrootsWorkYearss != null and grassrootsWorkYearss.size() > 0">
            and
            <foreach collection="grassrootsWorkYearss" item="grassrootsWorkYears" open="(" separator="or" close=")">
                grassrootsWorkYears like concat('%',#{grassrootsWorkYears},'%')
            </foreach>
        </if>
        <if test="grassrootsWorkUndergos != null and grassrootsWorkUndergos.size() > 0">
            and
            <foreach collection="grassrootsWorkUndergos" item="grassrootsWorkUndergo" open="(" separator="or" close=")">
                grassrootsWorkUndergo like concat('%',#{grassrootsWorkUndergo},'%')
            </foreach>
        </if>
        <if test="workplace != null and workplace !=''">
            and workplace like concat('%',#{workplace},'%')
        </if>
        <if test="remarks != null and remarks !=''">
            and remarks like concat('%',#{remarks},'%')
        </if>
    </select>
</mapper>